<div class="notification-group notification-group--{{ id }} notification-dropdown notification-dropdown__trigger">
  <div class="notification-group__label">{{ label }}</div>
  <div class="notification-group__counter notification-counter is-hidden">0</div>

  <div class="notification-dropdown__content">
    <div class="notification-group__description">
      {{ description }}
    </div>

    <div class="notification-group__content notification-list">
      {{ content }}
    </div>
  </div>
</div>
