#backlog h3,
.backlog h3 {
  font-weight: bold;
  margin: 0 1em 0 0;
}

a.button-action {
  margin-bottom: 1em;
}

.list-group {
  min-height: 40px;
  border-left: 1px dotted rgba(0,0,0,0.05);
  border-right: 1px dotted rgba(0,0,0,0.05);
  border-bottom: 1px dotted rgba(0,0,0,0.05);
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  padding: 0.5em;
  background-color: rgba(0,0,0,0.01);
  margin-bottom: 1.5em;
}

.list-group-item {
  border: 1px solid rgba(0,0,0,.125);
  margin: 0.5em 0;
  padding: 0.5em;
  border-radius: 5px;
}

.burndown_sprint,
#backlog_label {
  border: 1px dotted rgba(0,0,0,0.05);
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  padding: 0.5em;
  background-color: rgba(0,0,0,0.1);
}

.burndown_sprint .backlog {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.burndown_sprint .backlog .num_tasks {
  flex-grow: 4;
  font-style: italic;
  font-weight: 500;
}

.burndown_sprint .backlog .status {
  text-transform: capitalize;
  margin: 0 2em 0 1em;
  padding: 0.25em 0.5em;
  border-radius: 5px;
  background-color: lightgreen;
}

.burndown_sprint .open_button a {
  display: block;
  height: 24px;
  background-size: contain;
  text-indent: 27px;
  background-image: url('../icons/actions/open.png');
  background-repeat: no-repeat;
  color: black;
  line-height: 23px;
}

.burndown_sprint .close_button a {
  display: block;
  height: 24px;
  background-size: contain;
  text-indent: 27px;
  background-image: url('../icons/actions/close.png');
  background-repeat: no-repeat;
  color: black;
  line-height: 23px;
}
