{#
/**
 * @file burndown_project.html.twig
 * Default theme implementation to present Project data.
 *
 * This template is used when viewing Project pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_burndown_project()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('burndown_project') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
