{{ data.add_link }}

<div id="backlog" class="row" data-project-shortcode={{ data.project }}>

  <div
    id="backlog_items"
    class="list-group col kanban_tasks"
    data-sprint-id="0">

    {{ data.tasks }}

  </div>

</div>
